---
import AstroIcon from "../icons/AstroIcon.astro";
import Tailwind from "../icons/Tailwind.astro";
import TypeScript from "../icons/TypeScript.astro";
import React from "../icons/React.astro";
const TAGS = {
    Astro: {
        name: "Astro",
        class: "bg-white/10 text-white",
        icon: AstroIcon,
    },
    TailwindCSS: {
        name: "TailwindCSS",
        class: "bg-white/10 text-white",
        icon: Tailwind,
    },
    TypeScript: {
        name: "TypeScript",
        class: "bg-white/10",
        icon: TypeScript,
    },
    React: {
        name: "React",
        class: "bg-white/10",
        icon: React,
    },
};
const PROJECTS = [
    {
        title: "Porfolio de Mauricio - Desarrollador y Programador Web",
        description:
            "Mi porfolio personal, donde muestro mis proyectos Universitarios y personales con distintas habilidades.",
        link: "https://github.com/Veasba01",
        github: "https://github.com/Veasba01",
        image: "/projects/porfolioimage.webp",
        tags: [TAGS.Astro, TAGS.TailwindCSS, TAGS.TypeScript, TAGS.React],
    },
];
---

{
    PROJECTS.map((project) => (
        <article>
            <h3 class="text-2xl font-semibold text-purple-500 mb-2">
                {project.title}
            </h3>
            <p class="text-lg mb-4 text-pretty">{project.description}</p>
            <ul class="grid grid-cols-3 gap-2 md:flex gap-x-2 flex-row mb-2">
                {project.tags.map((tag) => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-sm ${tag.class} py-1 px-2`}>                      
                        <tag.icon class="size-6" />
                        {tag.name}
                    </span>
                    </li>
                ))}
            </ul>
            <img
                class="rounded shadow-2xl shadow-white/10"
                src={project.image}
                alt={`Captura de pantalla del proyecto ${project.image}`}
            />
        </article>
    ))
}
